snippet imp "import"
import "core:$0"
endsnippet

snippet fn "New function"
$1 :: proc($2) {
	$0
}
endsnippet

snippet iferr "if err!=nil"
if err != nil {
	$0
}
endsnippet

snippet xx "jai style auto_cast" w
auto_cast 
endsnippet

snippet scratch "hello world" b
package main
import "core:fmt"

println :: fmt.println
printf :: fmt.printf

main :: proc() {
	$0
}
endsnippet

snippet dbg "debug print"
fmt.printfln("$1 = %v", ${1})
endsnippet

