snippet #!
#!/usr/bin/env python3
endsnippet

snippet from
from ${1} import ${2}
endsnippet

snippet ifmain
if __name__ == '__main__':
	${1}
endsnippet
snippet main
if __name__ == '__main__':
	${1}
endsnippet
