/pack/minpac/opt/*
/pack/minpac/start/*

!pack/minpac/opt/tcomment_vim
!pack/minpac/opt/vim-oscyank
!pack/minpac/opt/vim-cycle
!pack/minpac/opt/lightline.vim
!pack/minpac/opt/vim-sandwich

!pack/minpac/start/vim-gruvbox8

!pack/minpac/opt/minpac

pack/non-managed

local.vim
.netrwhist

/files/backup/*
/files/info/*
/files/swap/*
/files/undo/*
/files/session/*

!/files/backup/.gitkeep
!/files/info/.gitkeep
!/files/swap/.gitkeep
!/files/undo/.gitkeep
!/files/session/.gitkeep

coc/**/*
!coc/.gitkeep

/doc
