#tabular
snippet tab tabular
  \begin{tabular}{| ${1:} |}
    ${2:TARGET}
    \hline 
  \end{tabular} ${0}

#Homework 
snippet homework
  \documentclass[UTF8]{article}
  \title{${1:TITLE}}
  \author{Ben Yip}
  \date{\today}
  \usepackage[]{amsmath}
  \usepackage{graphicx}
  \begin{document}
  \maketitle
      ${2:CONTENT}
  \end{document}
